<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>996Blogs</title>
  <link rel="stylesheet" href="/public/css/public.css" type="text/css">
  <link rel="stylesheet" href="/public/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css" type="text/css" />
  <link rel="stylesheet" href="/public/css/login.css" type="text/css">
  <script src="/public/js/jquery-2.1.1.js"></script>
  <script src="/public/js/popup.js"></script>
</head>
<body>
  <div class="login">
<!--    logo-->
    <div class="logo">
      <img src="/public/images/admin_login.png" alt="">
    </div>
<!--    描述-->
    <div class="description">
      <span>嘿，傻狗，今天要做什么，安排好了吗？</span>
    </div>
<!--    账号密码-->
    <div class="account-password">
      <form method="post" id="myForm">
        <input type="text" name="username" placeholder="请输入账号" />
        <input type="password" name="password" placeholder="请输入密码" />
        <input type="button" value="登录" id="login">
<!--        <div class="remember-forget">-->
<!--          <div class="remember">-->
<!--            <a href="#">记住密码</a>-->
<!--          </div>-->
<!--          <div class="forget">-->
<!--            <a href="#">忘记密码</a>-->
<!--          </div>-->
<!--        </div>-->
      </form>
    </div>
  </div>
<!--  js区域-->
  <script src="/public/js/bootstrap.min.js"></script>
  <script src="/public/js/login.js"></script>
</body>
</html>
